body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  min-width: 320px;
}
.img-container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img, .image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-overflow::-webkit-scrollbar-track {
  border: 1px solid #acacac;
  padding: 1px 0;
  background-color: #acacac;
}
.custom-overflow::-webkit-scrollbar {
  width: 2px;
}
.custom-overflow::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: black;
  border: 5px solid black;
}